<div style="text-align:center">
  <h1>
    Prueba de Angular 6
  </h1>
  <h3>Por: Adrián Covarrubiás</h3>
</div>
<div class="content">
  <label>Botón para llenar la lista de páginas con más likes.(Scraping)</label> - <button onclick="llenarListas()">Llenado de listas</button>
  <br>
  <br>
    <label>País a consultar:</label> - 
    <select [(ngModel)]="paisSeleccionado">
      <option *ngFor="let pais of paises" value="{{ pais.clave }}">{{ pais.descripcion }}</option>
    </select> - 
    <button (click)="buscarFanPage()">Buscar</button>
  <br>
  <br>
  <ul>
    <li *ngFor="let p of paginas">Página: {{ p.nombre }} - Likes: {{ p.fans }}</li>
  </ul>
</div>